.navigation {
  width: 100%;
  height: 90px;
  padding: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  display: grid;
  grid-template-columns: 30% 70%;

  .navigationBurgerMenu {
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    cursor: pointer;
    @include flexCenter;
    display: none;

    &:hover {
      color: $grey1;
      scale: 110%;
      transition: 0.3s ease-in;
    }
  }
  .navigationLogo {
    background: url(../../assets/img/logo.png) center/cover;
    height: 100%;
  }
  ul {
    width: 100%;
    height: 100%;
    @include flexCenter;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: $black1;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 600;
      letter-spacing: 1px;
      transition: 0.2s ease-out;
      &:hover {
        cursor: pointer;
        color: $grey1;
      }
    }
  }
}

.nav-active {
  position: relative;
  scale: 120%;

  &::after {
    content: "";
    height: 5px;
    width: 0;
    background: $grey1;
    position: absolute;
    border-radius: 10px;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: anim 0.3s ease forwards;
    animation: anim 0.6s ease forwards;

    @-webkit-keyframes anim {
      to {
        width: 100%;
      }
    }
    @keyframes anim {
      to {
        width: 100%;
      }
    }
  }
}
