.about-page {
  header {
    background: url(../../assets/img/about-header.jpg) center/cover;
    height: 81vh;
    position: relative;
    h1 {
      color: $white1;
      font-size: 3.5rem;
      letter-spacing: 2px;
      position: absolute;
      bottom: 40px;
      left: 40px;
      background-image: linear-gradient(
          transparent calc(100% - 1px),
          #000000 1px
        ),
        linear-gradient(transparent calc(100% - 1px), #cbcbcb 1px);
      background-size: 0% 6px, 100% 6px;
      background-position: 0 bottom, 0 bottom;
      background-repeat: no-repeat;
      padding-bottom: 6px;
      @media screen and (max-width: 960px) {
        color: $grey1;
        background-image: linear-gradient(
            transparent calc(100% - 1px),
            #000000 1px
          ),
          linear-gradient(transparent calc(100% - 1px), $grey1 1px);
      }
    }
  }
  main {
    section {
      max-width: 1200px;
      margin: 10px auto;
      box-shadow: rgba(0, 0, 0, 0.612) 0px 2px 4px;
      padding: 20px 10px;
      border-radius: 3px;
    }

    h2 {
      color: $black1;
      font-size: 2.5rem;
      letter-spacing: 1px;
      background-image: linear-gradient(
          transparent calc(100% - 1px),
          #000000 1px
        ),
        linear-gradient(transparent calc(100% - 1px), #cbcbcb 1px);
      background-size: 0% 6px, 100% 6px;
      background-position: 0 bottom, 0 bottom;
      background-repeat: no-repeat;
      padding-bottom: 6px;
    }
    p {
      margin-top: 20px;
      line-height: 27px;
      letter-spacing: 1px;
      color: $grey1;
    }
    .about-contact {
      display: grid;
      grid-template-columns: 50% 50%;
      background: url(../../assets/img/about-contact.webp) center/cover;
      height: 50vh;
      @media screen and (max-width: 800px) {
        @include flexCenter;
        flex-direction: column;
        justify-content: space-evenly;
      }
      .about-contact-left {
        @include flexCenter;
        h2 {
          color: $white1;
          @media screen and (max-width: 400px) {
            font-size: 2rem;
          }
        }
      }
      .about-contact-right {
        @include flexCenter;

        a {
          color: $white1;
          letter-spacing: 1px;
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: 900;
          border: 3px solid $white1;
          border-radius: 30px;
          padding: 10px 25px;
          transition: 0.3s ease-out;
          &:hover {
            color: $grey1;
            border: 3px solid $grey1;
            scale: 105%;
          }
        }
      }
    }
  }
}
