.contact-page {
  header {
    background: url(../../assets/img/about-contact.webp) center/cover;
    height: 50vh;
    position: relative;
  }
  h1 {
    color: $white1;
    font-size: 3.5rem;
    letter-spacing: 2px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    background-image: linear-gradient(transparent calc(100% - 1px), #000000 1px),
      linear-gradient(transparent calc(100% - 1px), #cbcbcb 1px);
    background-size: 0% 6px, 100% 6px;
    background-position: 0 bottom, 0 bottom;
    background-repeat: no-repeat;
    padding-bottom: 6px;
    @media screen and (max-width: 492px) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: 379px) {
      font-size: 2.5rem;
      background: none;
      text-align: center;
    }
  }
  main {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    max-width: 1200px;
    margin: 20px auto;

    @media screen and (max-width: 940px) {
      @include flexCenter;
      flex-direction: column;
      width: 95%;
      box-shadow: none;
    }

    .main-left {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: 25% 25% 25% 25%;
      background: $grey2;
      box-shadow: rgba(0, 0, 0, 0.612) 0px 2px 4px;

      h2 {
        letter-spacing: 1px;
        color: $black2;
        margin-bottom: 10px;
        text-decoration: underline $black2;
        text-underline-offset: 5px;
      }
      p {
        font-size: 1.2rem;
        color: $black1;
        @media screen and (max-width: 538px) {
          margin-bottom: 10px;
        }
      }
      .contact-content {
        border-top: 1px solid $black2;
        padding: 10px 20px;
        &:first-of-type {
          border: none;
        }
      }
      .logo-social-media {
        display: flex;
        gap: 53px;
        span {
          display: block;
          font-size: 1.5rem;
          color: $black1;
          &:hover {
            color: $grey1;
            scale: 105%;
          }
        }
        @media screen and (max-width: 453px) {
          gap: 10px;
          justify-content: space-between;
        }
      }
    }
    .main-form {
      width: 100%;
      height: 100%;
      padding: 30px 20px;
      background: $grey2;
      box-shadow: rgba(0, 0, 0, 0.612) 0px 2px 4px;

      h2 {
        text-align: center;
        letter-spacing: 1px;
        color: $black2;
        margin-bottom: 10px;
        text-decoration: underline $black2;
        text-underline-offset: 5px;
      }
      form {
        display: grid;
        grid-template-rows: 60% 20% 20%;
        grid-template-columns: 50% 50%;
        grid-template-areas:
          "ta ta"
          "ln fn"
          "ema sub";
        gap: 10px;
        height: 85%;
        input[type="text"],
        input[type="email"],
        input[type="submit"] {
          border: none;
          border-radius: 30px;
          padding: 10px;
          text-align: center;
          background: $white1;
          color: $black1;
          font-family: $font1;
          font-size: 1.2rem;
          &:focus {
            background: $black1;
            color: $white1;
          }
        }
        #contact-text-area {
          border: none;
          font-family: $font1;
          font-size: 1.2rem;
          border-radius: 3px;
          padding: 10px;
          background: $white1;
          color: $black2;
          grid-area: ta;
          resize: none;
          &:focus {
            background: $black1;
            color: $white1;
          }
        }
        input[type="submit"] {
          background: $black1;
          color: $white1;
          border-radius: 30px;
          width: 80%;
          height: 90%;
          margin: auto;
          font-weight: 900;
          text-transform: uppercase;
          transition: 0.3s ease-out;
          &:hover {
            color: $black1;
            background: $grey1;
          }
          @media screen and (max-width: 940px) {
            height: 100%;
            width: 65%;
          }
          @media screen and (max-width: 580px) {
            width: 100%;
            font-size: 1rem;
          }
        }
        @media screen and (max-width: 940px) {
          grid-template-rows: 50% 25% 25%;
        }
      }
    }
  }
}
