@import "./settings.scss";
@import "./pages/about.scss";
@import "./pages/_contact.scss";
@import "./pages/home";
@import "./pages/blog";
@import "./components/navigation";
@import "./components/footer";
@import "./components/article";
